:root {
  --white: #ffffff;
  --white-2: #fff5e3;
  --pastel-brown-light: #7b6659;
  --pastel-brown-dark: #7d5407;
  --gray-dark: #515151;
  --gold: #e3a430;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: bfont;
  src: url(/fonts/Qanelas-Bold.ttf);
}

@font-face {
  font-family: blfont;
  src: url(/fonts/Qanelas-Black.ttf);
}

@font-face {
  font-family: xbfont;
  src: url(/fonts/Qanelas-ExtraBold.ttf);
}

@font-face {
  font-family: lfont;
  src: url(/fonts/Qanelas-Light.ttf);
}

@font-face {
  font-family: mfont;
  src: url(/fonts/Qanelas-Medium.ttf);
}

@font-face {
  font-family: rfont;
  src: url(/fonts/Qanelas-Regular.ttf);
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: var(--white-2);
}

.hero {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.hero .img-wrapper img {
  width: 100%;
}

.hero .text-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .text-wrapper p {
  font-family: mfont;
  font-size: 1.6rem;
  margin: auto;
  text-align: center;
  color: var(--gray-dark);
}

.hero .text-wrapper .title {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero .text-wrapper .title h3 {
  font-size: 2.4rem;
  color: var(--gold);
  font-family: bfont;
}

.hero .text-wrapper .title img {
  width: 20%;
}

nav .navbar {
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .navbar .brand .logo {
  margin-top: 2rem;
}

nav .navbar .brand .logo img {
  width: 70%;
}

nav .navbar .brand .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  nav .navbar .brand .nav-links {
    display: none;
  }
}

nav .navbar .brand .nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav .navbar .brand .nav-links ul li {
  padding: 1rem;
}

nav .navbar .brand .nav-links ul li a {
  text-decoration: none;
  color: var(--pastel-brown-light);
  font-family: bfont;
  font-size: 1.4rem;
}

nav .navbar .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  nav .navbar .social-links {
    display: none;
  }
}

nav .navbar .social-links .bt-sign {
  padding: 0.4rem 2.3rem;
  border-radius: 2.3rem;
  color: var(--pastel-brown-dark);
  border: 0.3rem solid var(--pastel-brown-dark);
  font-family: bfont;
  font-size: 1.4rem;
  margin: auto;
  margin-left: 1rem;
}

nav .navbar .social-links .icon {
  border: 0.3rem solid var(--pastel-brown-dark);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.2rem;
}

nav .navbar .social-links .icon i {
  color: var(--pastel-brown-dark);
  font-size: 1.6rem;
  margin: auto;
}

nav .navbar .menu-btn {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav .navbar .menu-btn {
    display: block;
    z-index: 99999;
    -webkit-box-shadow: 0 0.3rem 0.7rem 0 var(--white-2);
            box-shadow: 0 0.3rem 0.7rem 0 var(--white-2);
  }
  nav .navbar .menu-btn .toggle {
    cursor: pointer;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.3rem 0.7rem 0 var(--pastel-brown-dark);
            box-shadow: 0 0.3rem 0.7rem 0 var(--pastel-brown-dark);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .navbar .menu-btn .line-toggle {
    position: absolute;
    display: block;
    width: 2rem;
    height: 0.3rem;
    background: var(--pastel-brown-dark);
    border-radius: 0.5rem;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  nav .navbar .menu-btn .line-toggle:first-child {
    -webkit-transform: translateY(-0.9rem) translateX(0rem);
            transform: translateY(-0.9rem) translateX(0rem);
    width: 2rem;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  nav .navbar .menu-btn .toggle .line-toggle:nth-child(2) {
    -webkit-transition-delay: .12s;
            transition-delay: .12s;
  }
  nav .navbar .menu-btn .line-toggle:last-child {
    -webkit-transform: translateY(0.9rem) translateX(0rem);
            transform: translateY(0.9rem) translateX(0rem);
    width: 2rem;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  nav .navbar .menu-btn .toggle.activate .line-toggle:first-child {
    background: var(--gold);
    -webkit-transform: translateY(0) translateX(0) rotate(45deg);
            transform: translateY(0) translateX(0) rotate(45deg);
    width: 4rem;
    height: 0.5rem;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  nav .navbar .menu-btn .toggle.activate .line-toggle:nth-child(2) {
    -webkit-transform: translateX(11rem);
            transform: translateX(11rem);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  nav .navbar .menu-btn .toggle.activate .line-toggle:last-child {
    background: var(--gold);
    -webkit-transform: translateY(0) translateX(0) rotate(314deg);
            transform: translateY(0) translateX(0) rotate(314deg);
    width: 4rem;
    height: 0.5rem;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
}

nav .line {
  height: 0.2rem;
  background: var(--pastel-brown-dark);
  width: 8%;
  float: left;
  margin-top: -0.7rem;
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  nav .line {
    width: 4%;
  }
}

nav .line2 {
  float: right;
  width: 86%;
  height: 0.2rem;
  margin-top: -0.7rem;
  background: var(--pastel-brown-dark);
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  nav .line2 {
    width: 82%;
  }
}

nav .menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--pastel-brown-light);
  display: none;
}

.hero {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.hero .img-wrapper img {
  width: 100%;
}

.hero .text-wrapper {
  text-align: center;
}

.hero .text-wrapper p {
  font-family: mfont;
  font-size: 1.8rem;
}
/*# sourceMappingURL=app.css.map */