.heading {
    font-size: 2.4rem;
    color: var(--gold);
    font-family: bfont;
    text-align: center;

    &-xlg {
        font-size: 3.2rem;
    }

    &-md {
        font-size: 1.8rem;
    }

    &-sm {
        font-size: 1.6rem;
    }

}

.paragraph {
    font-family: mfont;
    font-size: 1.6rem;
    margin: auto;

    &-sm {
        @include breakpoint(smmobile) {
            font-size: 1.4rem;
        }
    }

    &-responsive {
        text-align: center;

        @include breakpoint(tablet) {
            text-align: left;
        }
    }

    &-dark-grey {
        color: var(--gray-dark);
    }

    &-white {
        color: var(--gray-dark);
    }
}

.gold {
    color: var(--gold);
    font-size: 10rem;
    font-family: bfont;


    @include breakpoint(tablet) {
        font-size: 7rem;
    }
}

.red {
    color: var(--red-dark);
    font-family: xbfont;
    font-size: 1.4rem;

}

.text-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    flex-direction: column;

    @include breakpoint(tablet) {
        width: 100%;
    }
}