:root {
    --white: #ffffff;
    --white-2: #fff5e3;
    --white-3: #fefefe;
    --pastel-brown-light: #7b6659;
    --pastel-brown-dark: #7d5407;
    --gray-dark: #515151;
    --gold: #e3a430;
    --red-dark: #bd131b;
    --brown: #320307;
    --brown-light: #482f00;
}

$white:var(--white);
$white-2:var(--white-2);
$white-3:var(--white-3);
$pastel-brown-light:var(--pastel-brown-light);
$pastel-brown-dark:var(--pastel-brown-dark);
$gray-dark:var(--gray-dark);
$gold:var(--gold);
$red-dark:var(--red-dark);
$brown:var(--brown);
$brown-light:var(--brown-light);