:root {
    --white: #ffffff;
    --white-2: #fff5e3;
    --pastel-brown-light: #7b6659;
    --pastel-brown-dark: #7d5407;
    --gray-dark: #515151;
    --gold: #e3a430;
}

$white:var(--white);
$white-2:var(--white-2);
$pastel-brown-light:var(--pastel-brown-light);
$pastel-brown-dark:var(--pastel-brown-dark);
$gray-dark:var(--gray-dark);
$gold:var(--gold);