nav {
    .navbar {
        width: 100%;
        height: 8rem;
        display: flex;



        .brand {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .logo {
                margin-top: 2rem;
                background: #fff5e3;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70%;

                    @include breakpoint(tablet) {
                        width: 35%;
                        //  margin-left: 1rem;

                    }
                }
            }

            .nav-links {
                display: flex;
                justify-content: center;
                align-items: center;

                @include breakpoint(tablet) {
                    display: none;
                }

                ul {
                    list-style: none;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 1rem;

                        a {
                            text-decoration: none;
                            color: $pastel-brown-light;
                            font-family: bfont;
                            font-size: 1.4rem;
                        }
                    }

                }
            }
        }

        .social-links {
            display: flex;
            height: 100%;
            align-items: center;

            @include breakpoint(tablet) {
                display: none;
            }

            .bt-sign {
                padding: 0.4rem 2.3rem;
                border-radius: 2.3rem;
                color: $pastel-brown-dark;
                border: 0.3rem solid $pastel-brown-dark;
                font-family: bfont;
                font-size: 1.4rem;
                margin: auto;
                margin-left: 1rem;
            }

            .icon {
                border: 0.3rem solid $pastel-brown-dark;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                display: flex;
                margin: 0 0.2rem;

                i {
                    color: $pastel-brown-dark;
                    font-size: 1.6rem;
                    margin: auto;
                }
            }
        }

        .menu-btn {
            display: none;

            @include breakpoint(tablet) {
                display: block;
                z-index: 99999;
                //  box-shadow: 0 0.3rem 0.7rem 0 $white-2;

                .toggle {
                    cursor: pointer;
                    overflow: hidden;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 1rem;
                    //  box-shadow: 0 0.3rem 0.7rem 0 $pastel-brown-dark;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .line-toggle {
                    position: absolute;
                    display: block;
                    width: 2rem;
                    height: 0.3rem;
                    background: $pastel-brown-dark;
                    border-radius: 0.5rem;
                    transition: all .6s;
                }

                .line-toggle:first-child {
                    transform: translateY(-0.9rem) translateX(0rem);
                    width: 2rem;
                    transition-delay: 0s;
                }

                .toggle .line-toggle:nth-child(2) {
                    transition-delay: .12s;
                }

                .line-toggle:last-child {
                    transform: translateY(0.9rem) translateX(0rem);
                    width: 2rem;
                    transition-delay: 0s;
                }

                .toggle.activate .line-toggle:first-child {
                    background: $gold;
                    transform: translateY(0) translateX(0) rotate(45deg);
                    width: 4rem;
                    height: 0.5rem;
                    transition-delay: .1s;
                }

                .toggle.activate .line-toggle:nth-child(2) {
                    transform: translateX(11rem);
                    transition-delay: 0s;
                }

                .toggle.activate .line-toggle:last-child {
                    background: $gold;
                    transform: translateY(0) translateX(0) rotate(314deg);
                    width: 4rem;
                    height: 0.5rem;
                    transition-delay: .1s;
                }

            }
        }


    }

    .line {
        height: 0.2rem;
        background: $pastel-brown-dark;
        width: 100%;
        float: left;
        margin-top: -0.7rem;
        opacity: 1;


    }



    .menu-mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: $pastel-brown-light;
        display: none;

    }
}