.story {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url('/imgs/story.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0;
    position: relative;

    @include breakpoint(tablet) {
        min-height: 100%;
        padding: 4rem 1rem;
    }

    #triangle {
        background-color: $white-2;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        width: 19rem;
        height: 8rem;
        position: absolute;
        top: 0;
        left: 45%;
        margin: auto;
        display: flex;

        a {
            margin: auto;

            i {

                color: #ccc;
                font-size: 2rem;

            }
        }

        @include breakpoint(tablet) {
            width: 10rem;
            height: 5rem;
            position: absolute;
            top: 0;
            left: 40%;
        }
    }

    .img-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @include breakpoint(tablet) {
            height: 100%;
            align-items: center;
        }

        img {
            width: 65%;
        }
    }

    .txt-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;


        h1 {
            font-size: 10rem;
            font-family: bfont;
            color: $white-3;
            margin: 0;

            @include breakpoint(tablet) {
                font-size: 7rem;
            }
        }

        .content {

            p {
                color: $white;
                font-family: mfont;
                font-size: 1.6rem;
                margin: 2.5rem 0;
            }

        }


    }
}