.story {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url('/imgs/story.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0;
    position: relative;

    @include breakpoint(tablet) {
        min-height: 100%;
        padding: 4rem 1rem;
    }

    #triangle {
        background-color: $white-2;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        width: 19rem;
        height: 8rem;
        position: absolute;
        top: 0;
        left: 45%;
        margin: auto;
        display: flex;

        a {
            margin: auto;

            i {

                color: #ccc;
                font-size: 2rem;

            }
        }

        @include breakpoint(tablet) {
            width: 10rem;
            height: 5rem;
            position: absolute;
            top: -0.2rem;
            left: 40%;
        }
    }

    .img-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @include breakpoint(tablet) {
            height: 100%;
            align-items: center;
        }

        img {
            width: 65%;
        }
    }

    .txt-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;


        h1 {
            font-size: 10rem;
            font-family: bfont;
            color: $white-3;
            margin: 0;

            @include breakpoint(tablet) {
                font-size: 7rem;
            }
        }

        .content {

            p {
                color: $white;
                font-family: mfont;
                font-size: 1.6rem;
                margin: 2.5rem 0;
            }

        }


    }
}

.divide {

    position: relative;
    top: -1rem;
}

.road-map {
    background-image: url('/imgs/road-map.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: relative;
    //   margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;


    @include breakpoint(tablet) {
        min-height: auto;
        height: auto;
        margin: 0;
        text-align: left;
        width: 100%;
        padding: 0 1rem;
    }

    img {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        height: 100%;

        @include breakpoint(tablet) {
            opacity: 0.3;
        }
    }

    .data-wrapper {

        text-align: left;
        margin: 7rem 0 0 10rem;

        @include breakpoint(tablet) {
            margin: 0;
            text-align: left;
            width: 100%;
            padding: 0 1rem;
        }

        h3 {
            color: $brown;
            font-family: xbfont;
            font-size: 2rem;
            width: 50%;
            margin-bottom: 2rem;

            @include breakpoint(tablet) {
                width: 100%;
            }
        }

        p {
            color: $brown-light;
            font-family: mfont;
            font-size: 1.6rem;
            width: 80%;
            padding: 1rem 0;

            @include breakpoint(tablet) {
                width: 100%;
            }
        }

    }

    .mt-3 {
        margin-top: 10rem;
        padding-right: 10rem;
        padding-bottom: 5rem;

        @include breakpoint(tablet) {
            margin-bottom: 0;
            text-align: left;
            width: 100%;
            padding: 0 1rem;
        }

        h3 {
            text-align: right;
            width: 100%;

            @include breakpoint(tablet) {

                text-align: left;

            }

        }

        p {
            width: 100%;
            text-align: right;

            @include breakpoint(tablet) {

                text-align: left;

            }
        }
    }
}

.next {
    background: $dark-gold;
    width: 100%;
    height: 400px;
    position: relative;
    top: -1.5rem;

    .data-wrapper {
        text-align: center;
    }
}