.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;

    .img-wrapper {
        img {
            width: 100%;
        }

    }

    .text-wrapper {
        text-align: center;

        p {
            font-family: mfont;
            font-size: 1.8rem;
        }
    }
}